*{margin:0; padding:0px;box-sizing: border-box;}

body{background-color: #3c3636;}
#menu-holder {display:inline-flex; }
 .menu-bar {
    background-color: #d71919;
    text-align: center;
    width: 898px;
}

.menu-bar ul{display: inline-flex;
list-style: none; 
}
.menu-bar ul li a{text-decoration:none; color: #d9c9c9; }
.menu-bar ul li {width:120px;
margin:0px;
padding: 8px;
}
.sub-menu-1 {display:none;}
  .menu-bar ul li:hover .sub-menu-1
  {display: block;
  position:absolute;
  background:#d71919;
  margin-top: 24px;
  margin-left:-15px;}

.menu-bar ul li:hover .sub-menu-1 ul{display: block;margin:10px;}
.menu-bar ul li:hover .sub-menu-1 ul li{
	width:150px; padding: 5px;
	border-bottom: 1px solid #fff;
	background:transparent;
	border-radius: 0;
	text-align: left;
}
.menu-bar ul li:hover .sub-menu-1 ul li:last-child{border:none;
}
.menu-bar ul li:hover .sub-menu-1 ul li a:hover{
	color: black;
}
.active, .menu-bar ul li:hover {
	background: #31080ade;
	border-radius: 3px;
}
.clubbName {
    background-color: #282222;
    color: #ffff0e;
    width: 300px;
    text-align: center;
    font-size: 42px;
    font-style: arial black;
}


#body-Holder{margin: auto;
width:1200px; border: 1px solid red;
}


.logo-Image img{width:1200px; height: 700px; border: 1px solid red;}

/* here menu is done*/ 

.animation-Holder {width: 1200px; height: 600px; border: 1px solid blue; display: inline-flex;}
.main-Animation {width:797px;
 height: 550px; 
 border: 1px solid black;
 margin: auto;
 background-image: url(findedspace.jpeg);
 background-size: cover;}


 
 .main-Animation img {width: 365px;
 height: 152px;
 margin-top: 221px;
     transform: skewY(17deg);
  margin-left: 223px;
 transition: all 2s;}
 
  .main-Animation img:hover { 
  width: 216px;
 height: 101px;
	 margin-left: 582px;
	 
 }
 
 

.location-Holder {margin: auto;}
.Click {
    display: block;
    position: absolute;
    background: #3734291c;
    color: #756767b0;
    margin-top: 45px;
    padding: 25px;
    margin-left: 265px;
    line-height: 35px;
    font-family: arial black;
    font-size: 18px;
    border-radius: 50%;
}

/* here animation is done */ 


.article-Name-Heading {text-align: center; background-color:black; color: #ecec0f; padding: 15px; font-family: arial black; font-size: 22px;}
#article-Holder {width: 1200px; border: 1px solid red; display: inline-flex; background-color:#d2c7b2a1;}

.locust-Holder {
    width: 300px;
    height: 450px;
    margin: 50px;
    border: 3px solid #8e8484;
    box-shadow: 0px 10px 10px 7px #0000009c;
    background-image: url(locust3.jpeg);
    background-size: cover;
    text-align: center;
    padding-top: 225px;
    color: white;
    background-color: #111010;
    transition: all 1s;
}
.locust-Holder:hover {
	 width: 300px;
    height: 450px;
    margin: 50px;
    border: 10px solid  	#8FBC8F;
	 box-shadow: 0px 15px 10px 0px #0000009c;
    background-image: url(locust3.jpeg);
    background-size: cover;
    text-align:center;
	padding-top: 225px;
    color: white;
    background: black;
	transform: translateY(-20px)
}
.locust-Image h2 a{text-decoration:none; color:white;}



.covid-Holder {
    width: 300px;
    height: 450px;
    margin: 50px;
    border: 3px solid #8e8484;
    box-shadow: 0px 10px 10px 7px #0000009c;
    background-image: url(covid.jpeg);
    text-align: center;
    padding-top: 225px;
    color: white;
    background-color: #111010;
    transition: all 1s;
}
.covid-Holder:hover {
	 width: 300px;
    height: 450px;
    margin: 50px;
    border: 10px solid #FF0000;
	 box-shadow: 0px 15px 10px 0px #0000009c;
    background-image: url(covid.jpeg);
    text-align:center;
	padding-top: 225px;
    color: white;
    background: #8B0000;transform: translateY(-20px)
}
.covid-Image h2 a{text-decoration:none; color:white;}



.paper-Holder {
    width: 300px;
    height: 450px;
    margin: 50px;
    border: 3px solid #8e8484;
    box-shadow: 0px 10px 10px 7px #0000009c;
    background-image: url(300px-Old_books.jpeg);
    text-align: center;
    padding-top: 225px;
    color:white;
    background-color: #111010;
    transition: all 1s;
}
.paper-Holder:hover {
	 width: 300px;
    height: 450px;
    margin: 50px;
    border: 10px solid #8e8484;
	 box-shadow: 0px 15px 10px 0px #0000009c;
    background-image: url(300px-Old_books.jpeg);
    text-align:center;
	padding-top: 225px;
    color:white;
    background: #696969;transform: translateY(-20px)
}
.paper-Image h2 a{text-decoration:none; color:white;}

/* article section is done*/ 

.ABOuTUs{text-decoration: none;
width: 1200px; border: 1px solid red; background-color: #F5F5F5; font-family: arial; color: black;


}

.ABOuTUsHeading {text-align: center; font-size: 25px; background: #28282d; color: #f4c509; font-family: arial inherit; text-decoration: none;}
h3{text-align: center;}
.writings {text-align: center; padding: 10px; margin: 10px;}

/* about section done */

.our-Aproaches {
	width:1200px;
 border: 1px solid green; 
text-align: center; 
text-decoration: done;
 font-family: arial black;
 font-size: 25px;
 color: #bf0e0ee3;}
.approach-Mention {background-color: #ece2ba; padding: 18px;}


.marquee-Holder {background-color: 	#DDC27278;}

/* approach & section donee */ 

.footer-Maaaaan {width:1200px;
height: 400px;
 border: 1px solid green;  
 font-family: arial;
display: inline-flex; 
}

 .contact-Holder {background-image: url(spacespace.jpeg); 
 background-size: cover; height: 398px; width: 600px;
 border: 1px solid white;
 }
 .contact-Holder ul{list-style: none; margin-top: 18px;
 line-height: 35px; margin-left: 170px;}
 
.contact-Holder ul a, .contact-Holder ul {text-decoration:none; color: #d9c9c9; }

 .contact-Holder h1 {background: transparent; text-align: center; color: white;
 padding: 20px; font-family: arial black; font-size: 40px;}
 
 #signup-FormHolder { background-image: url(signupbackground.webp); background-size: cover; width:598px; 
 height: 398px; border: 1px solid blue; text-align: center;}
  #signup-FormHolder  h4 { margin-top: 311px; background-color: black; color: white;}
 #signup-FormHolder h3 {background: #0000009c; text-align: center; color: red; padding: 10px; font-family: arial black;}
 
 .maindivSign-Up { position: absolute; 
 margin-left: 795px; margin-top: 103px; 
 border:2px solid #4f3f3f; background-color: #00000070;}
 .maindivSign-Up input {margin: 5px 30px;}
 .FN {width: 250px; }
 .FN input { border-radius: 2px;}
 .SN {width:250px;}
 .SN input {width:57%; background: #fb0808c7; color: white;  border-radius: 3px; }
 
 .Comments {width: 1200px;
 background-color: #ddd; color: black; padding: 15px;}
 .Comments h2{ text-align: center;}
 .CN {width: 1200px; height: 150px; margin: auto;
}
 .CN input {width: 100%; height:100%; border-radius: 5px solid black;  text-align: center;}
 
 /* COMMENT & CONTACT & SIGN-UP & DONE*/ 
 
 
 
 
 
 
 
 


